label_type = "62" # good for ql-[500-800] series (anyh 62mm wide)
# label_type = "102" # good for ql-1100 (any 100mm wide)

cat_api_key = "ask me"
txt2img_url = "http://localhost:7860" #for local run of stable diffusion
